@model DAL.EF.VrstaKazne

@{
    ViewBag.Title = "Obriši";
}

<h2>Obriši</h2>

<h3>Jeste sigurni da želite obrisati?</h3>
<div>
    <h4>VrstaKazne</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazivVrste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivVrste)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Nazad", "Index")
        </div>
    }
</div>
